<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body>
		<div class="bg"></div>
		<div class="wrapper">
			<%- partial('_partial/header') %>
			<%- body %>
			<%- partial('_partial/footer') %>
		</div>
		<%- partial('_partial/scripts') %>

		<!--google analytics--> 
		<%- partial('_partial/google-analytics') %>
	</body>
</html>