<!-- 文字 start-->
<!--<div class="m-post m-post-text">
	<div class="cont ">
		<div class="text f-cb">
			<p>能不能找个地方，忘记所有~</p>
		</div>
	</div>
	<div class="subinfo">
		<a href="http://tvwawawa.lofter.com/post/1f25cb_905f0b3">2015-11-24</a>
	</div>
</div>
-->
<div class="article-summary m-post m-post-text">
	<div class="cont ">
		<div class="text f-cb">
			<h2><a href="<%- config.root %><%- item.path %>"><%- item.title || theme.default_post_title || "Untitled" %></a></h2>
			<!--<p class="textpic">
				<a href="http://tvwawawa.lofter.com/post/1f25cb_8a106e"><img src="http://imglf1.ph.126.net/C60Gx9hb1IYLqtqtVgM0wQ==/6597248987053908304.jpg"></a>
			</p>-->
			<%- item.excerpt %>
		</div>

	</div>
	<div class="subinfo">
		<a href=""><%- date(item.date, 'YYYY-MM-DD') %></a>
	</div>
</div>
<!-- 文字 end-->

<!-- 图片 start-->
<!--<div class="m-post m-post-photo">
	<div class="cont ">
		<div class="pic">
			<div class="img">
				<a href="http://tvwawawa.lofter.com/post/1f25cb_598ae3d"><img src="http://imglf1.ph.126.net/3IHY0WuQujmeLGreEVtBgw==/2644457406296900455.jpg"></a>
			</div>
		</div>
		<div class="text">
			<p dir="ltr">刚刚开始的一月就那么混乱。。<br><br>红红火火恍恍惚惚，这8个字的音序均为“H”，连打8个“h”(多数)输入法就会显示。是现代流行语之一。<br><br>红红火火恍恍惚惚，这8个字的音序均为“H”，连打8个“h”(多数)输入法就会显示。是现代流行语之一。<br><br>红红火火恍恍惚惚，这8个字的音序均为“H”，连打8个“h”(多数)输入法就会显示。是现代流行语之一。</p>
		</div>
	</div>
	<div class="subinfo">
		<a href="http://tvwawawa.lofter.com/post/1f25cb_598ae3d">2015-01-29</a>
	</div>
</div>-->
<!-- 图片 end-->

<!-- 音乐 start-->
<!--
<div class="m-post m-post-music">
	<div class="cont f-cb">
		<div class="cover">
			<a href="http://tvwawawa.lofter.com/post/1f25cb_900a15"><img src="http://p3.music.126.net/iD4CqIEUYJd7f1FO9Z6qlQ==/851021999950907.jpg" onerror="this.src='http://p3.music.126.net/iD4CqIEUYJd7f1FO9Z6qlQ==/851021999950907.jpg'"></a>
		</div>
		<div class="img"><object width="257" height="34" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"><param name="movie" value="http://s1.music.126.net/style/swf/LofterMusicPlayer.swf?0004 "><param name="wmode" value="transparent"><param name="quality" value="high"><param name="flashvars" value="loop=&amp;autoPlay=false&amp;url=http://music.163.com/song/media/outer/url?id=25653004&amp;trackId=25653004&amp;trackName=爱你没差&amp;artistName=周杰伦"><embed flashvars="loop=&amp;autoPlay=false&amp;url=http://music.163.com/song/media/outer/url?id=25653004&amp;trackId=25653004&amp;trackName=爱你没差&amp;artistName=周杰伦" src="http://s1.music.126.net/style/swf/LofterMusicPlayer.swf?0004 " type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" quality="high" allowscriptaccess="always" allownetworking="all" width="257" height="34"></object></div>
		<div class="text">
			<p>还是jay~~~</p>
		</div>
	</div>
	<div class="subinfo">
		<a href="http://tvwawawa.lofter.com/post/1f25cb_900a15">2013-09-26</a>
	</div>
</div>-->
<!-- 音乐 start-->